*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: lightgray;
  font-family: sans-serif;
}

.img-center {
  text-align: center;
}


.img-center > img {
  width: 70%;
}


.li-kursiv {
  font-style: italic ;
}