*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: rgb(180, 211, 238);
  font-family: sans-serif;
}

.img-center {
  text-align: center;
}


.img-center > img {
  width: 70%;
}


.li-kursiv {
  font-style: italic ;
}

.text-next-to-img {
  display: grid;
  grid-template-columns: 50% auto; 
  gap: 1rem
}

.text-next-to-img > .text {
}

.text-next-to-img > .text > ul {
  margin-top: 0;
}

.text-next-to-img > img {
  width: 120%;
  padding-right: 20px;
}

h1, h2, h3 {
  text-align: center;
  background-color: rgb(103, 139, 212);
}
